{% extends 'layout/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock head %}

{% block body %}
    <nav class="navbar shadow">
        <div class="navbar-brand">Campscout</div>
    </nav>
    <main id="content" class="container p-4">
        {% block content %}{% endblock %}
    </main>
{% endblock body %}
